<div class="pt-2">
  <mat-grid-list cols="6" rowHeight="40" class="pt-2">
    <mat-grid-tile>
      {{obavestenje[2].children[0]}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{obavestenje[1].children[0]}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{obavestenje[3].children[0]}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{obavestenje[8].children[0]}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{obavestenje[4].children[0]}}
    </mat-grid-tile>
    <mat-grid-tile >
      <button mat-button (click)="preuzmiPDF()" style="padding-left: 10px!important;">Преузми PDF</button>
      <button mat-button (click)="preuzmiHTML()" style="padding-left: 10px!important;">Преузми HTML</button>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
</div>
