<div class="backgroundImg">
  <h1 align="center" style="font-size:60px;margin-top: 30px;">еСлужбеник</h1>
  <div class="container ml-auto mr-auto mt-5 col-md-3 border pt-5 pl-5 pr-5 pb-0 bg-white shadow-lg rounded">
    <form [formGroup]="signUpForm" (ngSubmit)="register()" class="m-3">

      <div class="form-group">
        <label for="ime_i_prezime">Име и презиме</label>
        <input type="text" class="form-control" name="ime_i_prezime" formControlName="ime_i_prezime" id="ime_i_prezime" placeholder="Унесите Ваше име и презиме">
        <div *ngIf="signUpForm.controls['ime_i_prezime'].invalid && signUpForm.controls['ime_i_prezime'].touched" class="ml-1 mt-0 mb-0">
          <small *ngIf="signUpForm.controls['ime_i_prezime'].errors?.required" class="text-danger">Ово поље је обавезно</small>
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="email">Мејл адреса</label>
        <input type="text" class="form-control" name="email" formControlName="email" id="email" placeholder="Унесите Вашу мејл адресу">
        <div *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched" class="ml-1 mt-0 mb-0">
          <small *ngIf="signUpForm.controls['email'].errors?.required" class="text-danger">Ово поље је обавезно</small>
          <small *ngIf="signUpForm.controls['email'].errors?.email" class="text-danger">Мејл није у исправном формату</small>
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="lozinka">Лозинка</label>
        <input type="password" class="form-control" formControlName="lozinka" id="lozinka" placeholder="Унесите лозинку">
        <div *ngIf="signUpForm.controls['lozinka'].invalid && signUpForm.controls['lozinka'].touched" class="ml-1 mt-0 mb-0">
          <small *ngIf="signUpForm.controls['lozinka'].errors?.required" class="text-danger">Ово поље је обавезно</small>
        </div>
      </div>
      <div class="pt-3 text-center">
        <button id="loginBtn" class="btn btn-block mt-3 btn-danger" [disabled]="!signUpForm.valid">Регистрација</button>
      </div>
    </form>
    <div class="text-center pt-3">
      <p>Имате налог? <a routerLink="/log-in" class="signUpLink">Пријавите се</a></p>
    </div>
  </div>
</div>
