<div class="backgroundImg">
  <h1 align="center" style="font-size:60px;margin-top: 30px;">еСлужбеник</h1>

  <div class="container ml-auto mr-auto mt-5 col-md-3 border pt-5 pl-5 pr-5 pb-0 bg-white shadow-lg rounded">
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="m-3">

        <div class="form-group">
          <label for="email">Мејл адреса</label>
          <input type="text" class="form-control" name="email" formControlName="email" id="email" placeholder="Унесите Вашу мејл адресу">
          <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="ml-1 mt-0 mb-0">
            <small *ngIf="loginForm.controls['email'].errors?.required" class="text-danger">Ово поље је обавезно</small>
            <small *ngIf="loginForm.controls['email'].errors?.email" class="text-danger">Мејл није у исправној форми</small>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="lozinka">Лозинка</label>
          <input type="password" class="form-control" formControlName="lozinka" id="lozinka" placeholder="Унесите лозинку">
          <div *ngIf="loginForm.controls['lozinka'].invalid && loginForm.controls['lozinka'].touched" class="ml-1 mt-0 mb-0">
            <small *ngIf="loginForm.controls['lozinka'].errors?.required" class="text-danger">Ово поље је обавезно</small>
          </div>
        </div>
        <div class="pt-3 text-center">
          <button id="loginBtn" class="btn btn-block mt-3 btn-danger" [disabled]="!loginForm.valid" >Пријава</button>
        </div>
      </form>
      <div class="text-center pt-3">
        <p>Немате налог? <a routerLink="/sign-up" class="signUpLink">Регистрација</a></p>
      </div>
    </div>
  </div>
