<div class="mt-3 pt-2">
    <mat-grid-list *ngIf="resi==true" cols="11" rowHeight="40">
      <mat-grid-tile>
        {{zalba[0].children[0]}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{zalba[1].children[0]}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{zalba[2].children[0]}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{zalba[3].children[0]}}
        {{zalba[4].children[0]}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{zalba[5].children[0]}}
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <button id="resenjeButton" (click)="resiZalbu()" mat-button>{{poslatZahtev ? 'Састави решење' : 'Обавести службеника'}}</button>
      </mat-grid-tile>
      <mat-grid-tile><button data-toggle="tooltip" mat-button (click)="preuzmiPDF()">PDF</button></mat-grid-tile>
      <mat-grid-tile><button data-toggle="tooltip" mat-button (click)="preuzmiHTML()">XHTML</button></mat-grid-tile>
      <mat-grid-tile><button data-toggle="tooltip" mat-button (click)="preuzmiJSON()">JSON</button></mat-grid-tile>
      <mat-grid-tile><button data-toggle="tooltip" mat-button (click)="preuzmiRDF()">RDF</button></mat-grid-tile>

    </mat-grid-list>
    <mat-grid-list *ngIf="resi==false" cols="11" rowHeight="40">
      <mat-grid-tile>
        {{zalba[0].children[0]}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{zalba[1].children[0]}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{zalba[2].children[0]}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{zalba[3].children[0]}}
        {{zalba[4].children[0]}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{zalba[5].children[0]}}
      </mat-grid-tile>
      <mat-grid-tile colspan="2" *ngIf="zalba[6].children[0]=='da'">
        Да
      </mat-grid-tile>
      <mat-grid-tile colspan="2" *ngIf="zalba[6].children[0]=='ne'">
        <button *ngIf="poverenikPregled==false" mat-button (click)="odustani(zalba[0].children[0])">Не, одустани</button>
        <button *ngIf="poverenikPregled==true" id="resenjeButton" (click)="resiZalbu()" mat-button>{{poslatZahtev ? 'Састави решење' : 'Обавести службеника'}}</button>
      </mat-grid-tile>
      <mat-grid-tile><button data-toggle="tooltip" mat-button (click)="preuzmiPDF()">PDF</button></mat-grid-tile>
      <mat-grid-tile><button data-toggle="tooltip" mat-button (click)="preuzmiHTML()">XHTML</button></mat-grid-tile>
      <mat-grid-tile><button data-toggle="tooltip" mat-button (click)="preuzmiJSON()">JSON</button></mat-grid-tile>
      <mat-grid-tile><button data-toggle="tooltip" mat-button (click)="preuzmiRDF()">RDF</button></mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
  </div>
