<div class="row">
  <div class="col-md-12">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="jumbotron col-md-10 m-auto bg-light shadow mt-5 pt-3">
    <div class="row col-md-11 m-auto mb-5">
      <mat-card-title class="mb-3">{{naslov}}</mat-card-title>
      <mat-divider></mat-divider>
      <mat-grid-list cols="10" rowHeight="40" class="mt-3">
        <mat-grid-tile>Број жалбе</mat-grid-tile>
        <mat-grid-tile>Број захтева</mat-grid-tile>
        <mat-grid-tile>Орган</mat-grid-tile>
        <mat-grid-tile>Подносилац</mat-grid-tile>
        <mat-grid-tile>Датум жалбе</mat-grid-tile>
        <mat-grid-tile>Разрешена</mat-grid-tile>
        <mat-grid-tile [colspan]="4">Преузми</mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <div *ngIf="uloga=='P'">
        <app-zalba-cutanje
          *ngFor="let z of zalbeCutanje"
          [zalba]=z.children
          [resi]=false
          [poverenikPregled]=true
        ></app-zalba-cutanje>
      </div>
      <div *ngIf="uloga=='K'">
        <app-zalba-cutanje
          *ngFor="let z of zalbeCutanje"
          [zalba]=z.children
          [resi]=false
          [poverenikPregled]=false
        ></app-zalba-cutanje>
      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="jumbotron col-md-10 m-auto bg-light shadow mt-5 pt-3">
    <div class="row col-md-11 m-auto mb-5">
      <mat-card-title class="mb-3">{{naslov2}}</mat-card-title>
      <mat-divider></mat-divider>
      <mat-grid-list cols="10" rowHeight="40" class="mt-3">
        <mat-grid-tile>Број жалбе</mat-grid-tile>
        <mat-grid-tile>Број захтева</mat-grid-tile>
        <mat-grid-tile>Орган</mat-grid-tile>
        <mat-grid-tile>Подносилац</mat-grid-tile>
        <mat-grid-tile>Датум жалбе</mat-grid-tile>
        <mat-grid-tile>Разрешена</mat-grid-tile>
        <mat-grid-tile [colspan]="4">Преузми</mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>

      <div *ngIf="uloga=='P'">
        <app-zalba-na-odluku
          *ngFor="let z of zalbeNaOdluku"
          [zalba]=z.children
          [resi]=false
          [poverenikPregled]=true
        ></app-zalba-na-odluku>
      </div>
      <div *ngIf="uloga=='K'">
        <app-zalba-na-odluku
          *ngFor="let z of zalbeNaOdluku"
          [zalba]=z.children
          [resi]=false
          [poverenikPregled]=false
        ></app-zalba-na-odluku>
      </div>
    </div>

  </div>
</div>
