<div class="row col-md-11 m-auto mb-5">
  <mat-card-title class="mb-3">Пристигли захтеви</mat-card-title>
  <mat-divider></mat-divider>
  <mat-grid-list cols="15" rowHeight="40" class="mt-3 text-center">
    <mat-grid-tile>Редни број захтева</mat-grid-tile>
    <mat-grid-tile [colspan]="2">Орган</mat-grid-tile>
    <mat-grid-tile [colspan]="2">Датум предаје захтева</mat-grid-tile>
    <mat-grid-tile [colspan]="2">Корисник</mat-grid-tile>
    <mat-grid-tile>Статус захтева</mat-grid-tile>
    <mat-grid-tile [colspan]="4">Акције</mat-grid-tile>
    <mat-grid-tile [colspan]="2">Одговор</mat-grid-tile>
    <mat-grid-tile>Одбијање</mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <app-zahtev-sluzbenik
    *ngFor="let z of zahtevi"
    [zahtev]=z.children
  ></app-zahtev-sluzbenik>
  <div *ngIf="zahtevi?.length === 0">
    <p class="text-center mt-3">Још увек нема захтева</p>
  </div>
</div>
