<div class="row">
  <div class="col-md-12">
    <app-navigation-bar></app-navigation-bar>
  </div>

  <div class="jumbotron row col-md-10 m-auto bg-light shadow mb-5 mt-5 p-4">
    <mat-card-title class="mb-3">Обавештења</mat-card-title>
    <mat-divider></mat-divider>
    <mat-grid-list cols="9" rowHeight="40" class="mt-3">
      <mat-grid-tile>Број предмета</mat-grid-tile>
      <mat-grid-tile>Орган</mat-grid-tile>
      <mat-grid-tile>Датум предаје захтева</mat-grid-tile>
      <mat-grid-tile>Број захтева</mat-grid-tile>
      <mat-grid-tile>Име тражиоца</mat-grid-tile>
      <mat-grid-tile colspan="4">Акције</mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <app-obavestenje-stavka-sluzbenik
      *ngFor="let o of obavestenja"
      [obavestenje]=o.children
    ></app-obavestenje-stavka-sluzbenik>
    <div *ngIf="obavestenja?.length === 0">
      <p class="text-center mt-3">Још увек нема обавештења</p>
    </div>
  </div>

</div>
