<div>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: cornflowerblue; color: white; text-decoration: none;">
    <div id="navbarDiv" class="container-fluid">
      <a class="navbar-brand" href="/home-page" style="font-size:40px;">eПОВЕРЕНИК</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a *ngIf="uloga == 'K'" class="nav-link links" id="mojeZalbeLink" routerLink="/zalbe">Моје жалбе</a>
            <a *ngIf="uloga == 'P'" class="nav-link links" id="zalbeLink" routerLink="/zalbe">Жалбе</a>
          </li>
          <li class="nav-item" >
            <a *ngIf="uloga == 'K'" class="nav-link links" id="mojaResenjaLink" routerLink="/resenja">Моја решења</a>
            <a *ngIf="uloga == 'P'" class="nav-link links" id="resenjaLink" routerLink="/resenja">Решења</a>
          </li>
          <li class="nav-item" *ngIf="uloga == 'P'">
            <a class="nav-link links" id="izvestajiLink" routerLink="/izvestaji">Извештаји</a>
          </li>
        </ul>
      </div>
      <span class="float-right w-25 text-end" *ngIf="uloga != ''">
        <a><button (click)="odjaviSe()" class="btn btn-block btn-success btnColor" id="logoutBtn" style="margin-right: 20px;">Одјава</button></a>
      </span>
    </div>
  </nav>
</div>
