<div class="row col-md-11 m-auto mb-5">
  <mat-card-title class="mb-3">{{naslov}}</mat-card-title>
  <mat-divider></mat-divider>
  <mat-grid-list cols="10" rowHeight="40" class="mt-3">
    <mat-grid-tile>Број жалбе</mat-grid-tile>
    <mat-grid-tile>Број захтева</mat-grid-tile>
    <mat-grid-tile>Орган</mat-grid-tile>
    <mat-grid-tile>Подносилац</mat-grid-tile>
    <mat-grid-tile>Датум жалбе</mat-grid-tile>
    <mat-grid-tile>Разреши</mat-grid-tile>
    <mat-grid-tile [colspan]="4">Преузми</mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <app-zalba-cutanje
    *ngFor="let z of zalbe"
    [zalba]=z.children
    [resi]=true
  ></app-zalba-cutanje>
</div>
