<div class="pt-2">
  <mat-grid-list cols="8" rowHeight="40" class="pt-2">
    <mat-grid-tile>
      {{zahtev[0].children[0]}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{zahtev[1].children[0]}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{zahtev[4].children[0]}}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon *ngIf="isApproved()" title="Одобрен">check</mat-icon>
      <mat-icon *ngIf="!isApproved()" title="Одбијен">close</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <button mat-button (click)="preuzmiPDF()" data-toggle="tooltip" title="Преузми захтев у PDF формату" >PDF</button>
      <button mat-button (click)="preuzmiHTML()" data-toggle="tooltip" title="Преузми захтев у HTML формату" >HTML</button>
      <button mat-button (click)="preuzmiJSON()" data-toggle="tooltip" title="Преузми метаподатке захтева у JSON формату" >JSON</button>
      <button mat-button (click)="preuzmiRDF()" data-toggle="tooltip" title="Преузми метаподатке захтева у RDF формату">RDF</button>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
</div>
