<div class="mt-2 pt-2">
  <mat-grid-list cols="5" rowHeight="40">
    <mat-grid-tile>
      {{zahtev[0].children[0]}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{zahtev[1].children[0]}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{zahtev[4].children[0]}}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon *ngIf="isApproved()" title="Odobren">check</mat-icon>
      <mat-icon *ngIf="!isApproved()" title="Odbijen">close</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!isApproved()"><a routerLink="/home">Priloži žalbu</a></mat-grid-tile>
    <mat-grid-tile *ngIf="isApproved()"><button mat-button (click)="preuzmiPDF()">Preuzmi u PDF-u</button></mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
</div>
