<div class="jumbotron col-md-10 m-auto bg-light shadow mt-5 mb-5 pb-3 pt-3">
    <h1 class="d-flex justify-content-center">Поднеси жалбу против одлуке органа власти</h1>
    <div class="d-flex justify-content-center">
      <form class="row col-md-8 form-inline" ngForm="zalbaNaOdlukuForm" (ngSubmit)="sastaviZalbu()">
        <div class="form-group col-md-4">
          <label>Одаберите захтев:</label>
            <select
              [(ngModel)]="zahtev"
              name="zahtevi"
              id="zahtevi"
            >
              <option *ngFor='let z of zahtevi' [ngValue]="z">{{z.children[0].children[0].children[0]}}--{{z.children[2].children[0].children[1].children[0]}}</option>
            </select>

        </div>
        <div class="form-group col-md-4">
          <button class="btn " >Састави жалбу</button>
        </div>
      </form>
    </div>

    <div class="col-md-10 m-auto" id="zalbaNaOdlukuEditor">
    </div>
    <div class="d-flex justify-content-center">
      <button *ngIf="btnPosalji" class="btn btnColor" (click)="posalji()">Пошаљи</button>
    </div>


  </div>
