<app-navigation-bar></app-navigation-bar>

<div class="row col-md-8 m-auto mt-5 bg-light mb-5">
  <form [formGroup]="dodajZahtevForma" (ngSubmit)="dodajZahtev()" class="col-md-10 m-auto mt-5 mb-3">

    <div class="row">
      <div class="form-group col">
        <label for="naziv_organa">Naziv organa</label>
        <input type="text" class="form-control" name="naziv_organa" formControlName="naziv_organa" id="naziv_organa" placeholder="Unesite naziv organa">
        <div *ngIf="dodajZahtevForma.controls['naziv_organa'].invalid && dodajZahtevForma.controls['naziv_organa'].touched" class="ml-1 mt-0 mb-0">
          <small *ngIf="dodajZahtevForma.controls['naziv_organa'].errors?.required" class="text-danger">Naziv organa je obavezan</small>
        </div>
      </div>
      <div class="form-group col">
        <label for="mesto_organa">Sedište organa</label>
        <input type="text" class="form-control" name="mesto_organa" formControlName="mesto_organa" id="mesto_organa" placeholder="Unesite sedište organa">
        <div *ngIf="dodajZahtevForma.controls['mesto_organa'].invalid && dodajZahtevForma.controls['mesto_organa'].touched" class="ml-1 mt-0 mb-0">
          <small *ngIf="dodajZahtevForma.controls['mesto_organa'].errors?.required" class="text-danger">Email je obavezan</small>
        </div>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="opis_informacije">Opis informacije koju potražujete</label>
      <textarea style="resize: none;" rows="5" class="form-control" formControlName="opis_informacije" id="opis_informacije" placeholder="Unesite opis informacije"></textarea>
      <div *ngIf="dodajZahtevForma.controls['opis_informacije'].invalid && dodajZahtevForma.controls['opis_informacije'].touched" class="ml-1 mt-0 mb-0">
        <small *ngIf="dodajZahtevForma.controls['opis_informacije'].errors?.required" class="text-danger">Opis informacije je obavezan</small>
      </div>
    </div>

    <div class="row">
      <div class="form-group mt-3 col">
        <label for="mesto_trazioca">Mesto stanovanja tražioca</label>
        <input type="text" class="form-control" formControlName="mesto_trazioca" id="mesto_trazioca" placeholder="Unesite Vaše mesto stanovanja">
        <div *ngIf="dodajZahtevForma.controls['mesto_trazioca'].invalid && dodajZahtevForma.controls['mesto_trazioca'].touched" class="ml-1 mt-0 mb-0">
          <small *ngIf="dodajZahtevForma.controls['mesto_trazioca'].errors?.required" class="text-danger">Mesto stanovanja je obaveyno</small>
        </div>
      </div>
      <div class="form-group mt-3 col">
        <label for="ulica_trazioca">Ulica stanovanja tražioca</label>
        <input type="text" class="form-control" formControlName="ulica_trazioca" id="ulica_trazioca" placeholder="Unesite Vašu ulicu stanovanja">
        <div *ngIf="dodajZahtevForma.controls['ulica_trazioca'].invalid && dodajZahtevForma.controls['ulica_trazioca'].touched" class="ml-1 mt-0 mb-0">
          <small *ngIf="dodajZahtevForma.controls['ulica_trazioca'].errors?.required" class="text-danger">Ulica stanovanja je obavezna</small>
        </div>
      </div>
      <div class="form-group mt-3 col">
        <label for="broj_trazioca">Kućni broj tražioca</label>
        <input type="number" class="form-control" formControlName="broj_trazioca" id="broj_trazioca" placeholder="Unesite Vaš broj kuće">
        <div *ngIf="dodajZahtevForma.controls['broj_trazioca'].invalid && dodajZahtevForma.controls['broj_trazioca'].touched" class="ml-1 mt-0 mb-0">
          <small *ngIf="dodajZahtevForma.controls['broj_trazioca'].errors?.required" class="text-danger">Broj kuće je obavezan</small>
        </div>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="kontakt">Kontakt telefon tražioca</label>
      <input type="text" class="form-control" formControlName="kontakt" id="kontakt" placeholder="Unesite Vaš kontakt telefon">
      <div *ngIf="dodajZahtevForma.controls['kontakt'].invalid && dodajZahtevForma.controls['kontakt'].touched" class="ml-1 mt-0 mb-0">
        <small *ngIf="dodajZahtevForma.controls['kontakt'].errors?.required" class="text-danger">Kontakt telefon je obavezan</small>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="opis_zahteva">Opis zahteva</label>
      <select class="form-control" id="opis_zahteva" formControlName="opis_zahteva">
        <option value=zahtev_obavestenje>Zahtev za obaveštenjem da li organ poseduje traženu informaciju</option>
        <option value="zahtev_uvid">Zahtev za uvid u dokument koji sadrži traženu informaciju</option>
        <option value="zahtev_kopija">Zahtev za kopiju dokumenta koji sadrži traženu informaciju</option>
        <option value="zahtev_dostava">Zahtev za dostavu kopije dokumenta koji sadrži traženu informaciju</option>
      </select>
      <div *ngIf="dodajZahtevForma.controls['opis_zahteva'].invalid && dodajZahtevForma.controls['opis_zahteva'].touched" class="ml-1 mt-0 mb-0">
        <small *ngIf="dodajZahtevForma.controls['opis_zahteva'].errors?.required" class="text-danger">Opis zahteva je obavezan</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group mt-3 col" *ngIf="dodajZahtevForma.controls['opis_zahteva'].value == 'zahtev_dostava'">
        <label for="nacin_dostave">Način dostave dokumenta</label>
        <select class="form-control" id="nacin_dostave" formControlName="nacin_dostave">
          <option value=posta>Dostava poštom</option>
          <option value="faks">Dostava faksom</option>
          <option value="e_posta">Dostava mejlom</option>
          <option value="drugi">Drugi način dostave</option>
        </select>
      </div>
      <div class="form-group mt-3 col" *ngIf="dodajZahtevForma.controls['opis_zahteva'].value == 'zahtev_dostava' && dodajZahtevForma.controls['nacin_dostave'].value == 'drugi'">
        <label for="drugi_nacin">Drugi način dostave</label>
        <input type="text" class="form-control" formControlName="drugi_nacin" id="drugi_nacin" placeholder="Navedite drugi način dostave">
      </div>
    </div>
    <div class="pt-3 text-center">
      <button id="predajZahtevBtn" class="btn btn-block mt-3 btn-danger" [disabled]="!dodajZahtevForma.valid">Predaj zahtev</button>
    </div>
  </form>
</div>

