<div>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: crimson; color: white; text-decoration: none;">
    <div id="navbarDiv" class="container-fluid">
      <a class="navbar-brand" href="#">Portal organa vlasti</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="userRole != null">
            <a class="nav-link" id="zahteviLink" routerLink="/">Zahtevi</a>
          </li>
        </ul>
      </div>
      <span class="float-right w-25 text-end" *ngIf="userRole == null">
        <a routerLink="/log-in"><button mat-raised-button color="warn" id="loginBtn" style="margin-right: 20px;">Login</button></a>
        <a routerLink="/sign-up"><button mat-raised-button color="warn" id="signUpBtn">Sign Up</button></a>
      </span>
    </div>
  </nav>
</div>
